<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Read</title>
</head>
<body>
	<nav>
		<a href="index.html">Home</a>
		<a href="todo">Todo</a>
	</nav>

	<script>
		fetch('/todo').then(function(file){
			file.json().then(function(fileData){
				console.log(fileData)
				for (let entry of fileData){
					console.log(entry)
					let entryElement = document.createElement('p')
					
					entryElement.innerText = "User ID: \"" + entry.userId + "\"\nEntry ID: \"" + entry.id + "\"\nEntry Title: \"" + entry.title + "\"\nIs Entry Completed: \"" + entry.completed + "\""
					document.body.appendChild(entryElement)
				}
			})
		})
	</script>
</body>
</html>